$primary:    #3F85ED;
$secondary: #6d8ed7;
$body-bg:    #E4EFFF;
$body-color: #33485D;

$link-hover-decoration: none;

$card-spacer-y: 1.5rem;
$card-spacer-x: 1.5rem;
$card-border-width: 0;

$spinner-border-width: .1rem;

// Make Bootstrap variables and functions
// available in a Vue template.

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
